
@model IEnumerable<GymTracker.ViewModel.MemberClassViewModel>




@{
    ViewData["Title"] = "BookClass";
}

<h2>Book Class</h2>




@foreach (var gym in Model)
{
    <form method="post">



        <div>

            <a asp-action="BookClassConfirmed" asp-controller="Members" asp-route-ClassId="@gym.ClassID" asp-route-id="@gym.MemberID" >@gym.ClassName</a>
          



        </div>


    </form>



}

